@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .wave {
    @apply
    h-24
    overflow-hidden
    relative
  } */

  /* .wave::before {
    @apply
    absolute
    z-[3]
    pointer-events-none
    bg-no-repeat

    top-[-1vw]
    bottom-[-1vw]
    left-[-1vw]
    right-[-1vw]

    scale-[1.7]
    origin-[100%_0]
    animate-[10s_infinite_alternate_wave_linear]
    bg-[length:100%_100px]
    bg-[50%_0%]
    bg-[url('../../public/wave.svg')]
  } */
}
.sunset {
  @apply bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500
}
.peach {
  @apply bg-gradient-to-r from-red-200 via-red-300 to-yellow-200
}
.oceanic {
  @apply bg-gradient-to-r from-green-300 via-blue-500 to-purple-600
}
.candy {
  @apply bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400
}
.mint {
  @apply bg-gradient-to-r from-yellow-200 via-green-200 to-green-300
}

/* costume style in prose */
@layer components {
  .prose  .mermaid-style{
    @apply bg-white border border-gray-300 py-4 p-1 md:p-8 rounded-lg my-8 m-auto 
  }
  .prose img {
    @apply m-auto
  }
  .prose .link-card{
    @apply flex  m-auto truncate border border-gray-200 rounded max-w-lg my-8
  }
  .prose .link-card-img{
    @apply flex basis-44 grow max-w-[200px] shrink-[6]
  }
  .prose .link-card-img img{
    @apply object-cover m-0
  }
  .prose .link-card-text{
    @apply flex shrink grow-[4] basis-44 flex-col overflow-hidden px-4
  }
  .prose .link-card-text .link-card-title{
    @apply overflow-hidden text-ellipsis whitespace-nowrap font-bold
  }
  .prose .link-card-text .link-card-url{
    @apply min-h-[2em] overflow-hidden text-ellipsis whitespace-nowrap text-xs text-[color:var(--secondary)]
  }
  .prose .task-list-item{
    @apply m-0 list-none leading-10
  }
  .prose .task-list-item input {
    @apply my-0 mr-2
  }
  /* details */
  .prose .details {
    @apply group-[&_summary::-webkit-details-marker]:hidden my-4
  }
  .prose .summary  {
    @apply flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-3 text-gray-900 border
  }
  .prose .details-title {
    @apply font-medium p-0 m-0
  }
  .prose .details-content {
    @apply mt-4 px-4 leading-relaxed text-gray-700
  }
  .prose .details-svg {
    @apply h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180
  }
  /* message,alert */
  .prose .msg {
    @apply bg-orange-100 rounded-lg p-4 flex my-8
  }
  .prose .msg-symbol {
    @apply bg-orange-300 rounded-full flex items-center w-7 h-7 text-white font-bold justify-center
  }
  .prose .msg-content {
    @apply mx-4
  }
  .prose .alert {
    @apply bg-red-100 rounded-lg p-4 flex my-8
  }
  .prose .alert-symbol {
    @apply bg-red-300 rounded-full flex items-center w-7 h-7 text-white font-bold justify-center
  }
}

@layer components {
  .index{
    @apply md:mx-4 mt-12 p-4 rounded-lg drop-shadow-md bg-white
  }
  .index .index-h1{
    @apply pl-4 pb-2 hover:text-blue-400
  }
  .index .index-h2{
    @apply pl-8 pb-2 hover:text-blue-400
  }
  .index .index-h3{
    @apply pl-12 pb-2 hover:text-blue-400
  }
  .index .index-h4{
    @apply pl-16 pb-2 hover:text-blue-400
  }
}

.wave {
  overflow: hidden;
  position: relative; 
  height: 100px;
  transform: scaleY(-1);
}

.wave::before {
  content: "";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;

  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;

  transform: scaleX(4);

  transform-origin: 100% 0;
  animation: 10s infinite alternate wave linear;
  background-size: 100% 100px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="white"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="white"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="white"/></svg>');
}

@media (min-width: 2100px) {
  .wave::before {
    background-size: 100% calc(2vw + 100px);
  }
}

@keyframes wave {
  100% {
    transform: scaleX(4) translateX(calc(100% - (100% / 4)));
  }
}